table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    text-align: left;
    padding: 8px;
    background-color: rgb(163, 161, 161);
  }
  th{
    background-color: rgb(123, 119, 119);
  }
  td:hover{
      background-color: rgb(136, 92, 145);
  }
  img{
      border-radius: 50%;
  }
  